[user]
  email = connor.keane@kxnr.me
  name = Connor Keane

[column]
  ui = auto

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[init]
  defaultBranch = main

[core]
  editor = hx
  pager = delta
  excludesfile = ~/.gitignore

[push]
  default = current
  autoSetupRemote = true
  followTags = true

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  side-by-side = true
  line-numbers = true



[diff]
  tool = difft
  algorithm = histogram
  colorMoved = default
  mnemonicPrefix = true
  renames = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[help]
  autocorrect = prompt

[commit]
  verbose = true

[rerere]
  enabled = true
  autoupdate = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<<%an>>%Creset' --abbrev-commit --date=relative
  cm = commit -m
  ac = commit --amend
  au = add -u
  undo = reset HEAD~1 --mixed
  tree = log --pretty=better-oneline --all --graph --date=short
  go  = checkout
  gob = checkout -b
  aliases = "git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /"
  get-all = "!f() { for b in `git branch -r | grep -v -- '->'`; do git branch --track ${b##origin/} $b; done; }; f"
  update = "!f() { git fetch origin main; git merge origin/main; }; f"

[merge "mergiraf"]
  name = mergiraf
  conflictStyle = "diff3"
  driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L

[merge]
  conflictStyle = zdiff3

[difftool]
  prompt = false
  tool = difftastic

[pager]
  difftool = true

[difftool "difftastic"]
  # See `man git-difftool` for a description of MERGED, LOCAL and REMOTE.
  cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"
[pull]
	rebase = false
